In [3]:
import requests
import pandas as pd
import numpy as np
import random
from datetime import datetime
from datetime import date

In [4]:
saison = pd.read_excel("https://raw.githubusercontent.com/kfreyburger/sap/main/dataset/AnalyticModelV03.xlsx", sheet_name = "Saison",header = 0, engine='openpyxl')

In [5]:
anzahl = 10

erstesJahr = 2020
letzesJahr = 2020

# array zum Testen der Monatsverteilung
v = np.zeros(13)
start = datetime.now()


# Werte werden in Listen erstellt und unten zu einem Dataframe zusammengeklebt
dates = []
salesquan=[]

for index in range(0,anzahl):
  jahr = 2020 + int(random.random()*(letzesJahr - erstesJahr + 1))
# Doku: Der Boolsche Ausdruck lÃ¤sst nur die EintrÃ¤ge Ã¼brig, welche die Bedingung erfÃ¼llen
# [-1:] nimmt davon den letzen Eintrag; und ['Monat'] davon wiederum nur den Monat
  monat = int(saison[saison['Normiert']<random.random()][-1:]['Monat'])
  v[monat] = v[monat]+1
  if monat == 12:
    lastday = 31
  else:  
    date1 = date(jahr,monat,1)
    date2 = date(jahr,monat+1,1)
    lastday = (date2-date1).days
  tag = 1+ int(random.random()*lastday)
  dates.append(date(jahr, monat, tag).strftime("%Y-%m-%d"))
  
  salesquan.append(int(1+10*random.random()))

# man sieht, dass die Gewichte rauskommen!!!
print(v/anzahl*38.5)

[0.   0.   0.   3.85 0.   7.7  7.7  3.85 7.7  0.   0.   3.85 3.85]

In [6]:
sales = pd.DataFrame({'Date' : dates, 'Salesquan': salesquan})
print(sales)

         Date  Salesquan
0  2020-05-12         10
1  2020-08-19          7
2  2020-06-24          4
3  2020-12-31          5
4  2020-07-25          9
5  2020-05-06          1
6  2020-03-03          6
7  2020-11-29          6
8  2020-08-28          2
9  2020-06-08          4

In [7]:
df_customer = pd.read_excel("https://raw.githubusercontent.com/kfreyburger/sap/main/dataset/AnalyticModelV03.xlsx", sheet_name = "Customer",header = 0, engine='openpyxl')
df_customer.head()

,CustomerDescr,Customer,City,Salesorg,Country,Äquivalenz Kunde,Rabatt,Normiert
0,Rocky Mountain Bikes,1000.0,Denver,UW00,US,10.0,0.03,0.000000
1,Big Apple Bikes,2000.0,New York City,UE00,US,12.0,0.03,0.040486
2,Philly Bikes,3000.0,Philadelphia,UE00,US,10.0,0.03,0.089069
3,Peachtree Bikes,4000.0,Atlanta,UE00,US,10.0,0.03,0.129555
4,Beantown Bikes,5000.0,Boston,UE00,US,20.0,0.05,0.170040

In [8]:
df_product = pd.read_excel("https://raw.githubusercontent.com/kfreyburger/sap/main/dataset/AnalyticModelV03.xlsx", sheet_name = "Product",header = 0, engine='openpyxl')
df_product.head()

,Product,ProductDescr,Product Category,Division,InternalPrice,Salesprice,Äquivalenz Produkt,Color,Gruppe,Normiert
0,DXTR1000,Deluxe Touring Bike-Black,TOU,BI,1950,3000.0,1.0,Black,Shimano Road,0.000000
1,DXTR2000,Deluxe Touring Bike-Silver,TOU,BI,1950,3000.0,2.0,Silver,Shimano Road,0.023641
2,DXTR3000,Deluxe Touring Bike-Red,TOU,BI,1950,3000.0,1.0,Red,Shimano Road,0.070922
3,PRTR1000,Professional Touring Bike-Black,TOU,BI,2080,3200.0,1.0,Black,Shimano XT,0.094563
4,PRTR2000,Professional Touring Bike-Silver,TOU,BI,2080,3200.0,2.0,Silver,Shimano XT,0.118203

In [12]:
product = df_product[df_product['Normiert']<random.random()][-1:]
print(product['InternalPrice'].values[0])

2480

In [99]:
customer = (int)(df_customer[df_customer['Normiert']<random.random()][-1:]['Customer'])
print(customer)

4000

Logik Menge: Zufallszahl *  10 * Faktor Sondereffekte

In [100]:
salesquan = int(1+10*random.random())
print(salesquan)

10

In [125]:
anz_orders = 5
orders=[]
items = []
dates = []
salesquan=[]
uom=[]
customers = []
products=[]
revenue=[]
curr=[]
discount=[]
cost=[]

for order in range(0,anz_orders):
#   Kunden aus der 2. Hälfte genommen --> Deutsche    
    customer = df_customer[df_customer['Normiert']<0.5+random.random()/2][-1:]
    tag = 1+ int(random.random()*31)
    salesdate = pd.to_datetime(date(2020, 1, tag))
    anz_items = int(1+10*random.random())
    for item in range(0,anz_items):
        orders.append(order)
        items.append((item+1)*10)
        customers.append((int)(customer['Customer'].values[0]))
        dates.append(salesdate)
        product = df_product[df_product['Normiert']<random.random()][-1:]
        products.append(product['Product'].values[0])
        quan = int(1+10*random.random())
        uom.append('ST')
        salesquan.append(quan)
#    Faktor EUR aus 2019 genommen 1.16964551
        rev = round(product['Salesprice'].values[0]*quan*1.16964551,2)
        revenue.append(rev)
        if (customer['Customer'].values[0]=='US'):
            curr.append('USD')
        else:
            curr.append('EUR')
        discount.append(round(rev*customer['Rabatt'].values[0],2))
#    Faktor CostKoef aus 2019    1.097636        
        cost.append(round(product['InternalPrice'].values[0]*quan*1.097636,2))
        
df_sales = pd.DataFrame({'OrderNumber':orders,'OrderItem': items,'SalesDate' : dates, 'Customer':customers,'Product':products,'SalesQuantity': salesquan, 'UnitOfMeasure': uom,'Revenue':revenue,'Currency':curr ,'Discount':discount,'CostsUSD':cost})
df_sales

,OrderNumber,OrderItem,SalesDate,Customer,Product,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,CostsUSD
0,0,10,2020-01-03,22000,DXRD1000,8,ST,15907.18,EUR,477.22,9255.27
1,0,20,2020-01-03,22000,CAGE1000,10,ST,210.54,EUR,6.32,98.79
2,0,30,2020-01-03,22000,DXTR2000,3,ST,10526.81,EUR,315.80,6421.17
3,0,40,2020-01-03,22000,FAID1000,2,ST,93.57,EUR,2.81,43.91
4,0,50,2020-01-03,22000,DXRD1000,2,ST,3976.79,EUR,119.30,2313.82
5,1,10,2020-01-25,15000,PUMP1000,9,ST,294.75,EUR,14.74,138.30
6,1,20,2020-01-25,15000,PUMP1000,6,ST,196.50,EUR,9.83,92.20
7,1,30,2020-01-25,15000,PUMP1000,6,ST,196.50,EUR,9.83,92.20
8,1,40,2020-01-25,15000,RKIT1000,3,ST,112.29,EUR,5.61,52.69
9,1,50,2020-01-25,15000,ORHT1000,4,ST,7485.73,EUR,374.29,4214.92
10,1,60,2020-01-25,15000,SHRT1000,2,ST,70.18,EUR,3.51,32.93
11,1,70,2020-01-25,15000,PRTR2000,8,ST,29942.93,EUR,1497.15,18264.66
12,2,10,2020-01-04,19000,ORHT2000,1,ST,1988.40,EUR,0.00,1119.59
13,2,20,2020-01-04,19000,PRRD1000,2,ST,9357.16,EUR,0.00,5444.27
14,2,30,2020-01-04,19000,DXRD1000,7,ST,13918.78,EUR,0.00,8098.36
15,2,40,2020-01-04,19000,OHMT1000,10,ST,584.82,EUR,0.00,274.41
16,2,50,2020-01-04,19000,HVBD1000,5,ST,1754.47,EUR,0.00,1152.52
17,2,60,2020-01-04,19000,DXRD1000,9,ST,17895.58,EUR,0.00,10412.18
18,2,70,2020-01-04,19000,ORHT1000,9,ST,16842.90,EUR,0.00,9483.58
19,3,10,2020-01-10,14000,ELBK1000,3,ST,14035.75,EUR,421.07,9220.14
20,3,20,2020-01-10,14000,ELBK1000,3,ST,14035.75,EUR,421.07,9220.14
21,3,30,2020-01-10,14000,PUMP1000,10,ST,327.50,EUR,9.82,153.67
22,3,40,2020-01-10,14000,BOTL1000,6,ST,140.36,EUR,4.21,65.86
23,3,50,2020-01-10,14000,PRRD1000,6,ST,28071.49,EUR,842.14,16332.82
24,4,10,2020-01-12,15000,PRTR2000,8,ST,29942.93,EUR,1497.15,18264.66
25,4,20,2020-01-12,15000,OHMT1000,7,ST,409.38,EUR,20.47,192.09
26,4,30,2020-01-12,15000,RKIT1000,2,ST,74.86,EUR,3.74,35.12
27,4,40,2020-01-12,15000,PRRD1000,7,ST,32750.07,EUR,1637.50,19054.96

weiter OrderNumber

In [126]:
df_sales = df_sales.sort_values(by=['SalesDate','OrderNumber','OrderItem'])
df_sales

,OrderNumber,OrderItem,SalesDate,Customer,Product,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,CostsUSD
0,0,10,2020-01-03,22000,DXRD1000,8,ST,15907.18,EUR,477.22,9255.27
1,0,20,2020-01-03,22000,CAGE1000,10,ST,210.54,EUR,6.32,98.79
2,0,30,2020-01-03,22000,DXTR2000,3,ST,10526.81,EUR,315.80,6421.17
3,0,40,2020-01-03,22000,FAID1000,2,ST,93.57,EUR,2.81,43.91
4,0,50,2020-01-03,22000,DXRD1000,2,ST,3976.79,EUR,119.30,2313.82
12,2,10,2020-01-04,19000,ORHT2000,1,ST,1988.40,EUR,0.00,1119.59
13,2,20,2020-01-04,19000,PRRD1000,2,ST,9357.16,EUR,0.00,5444.27
14,2,30,2020-01-04,19000,DXRD1000,7,ST,13918.78,EUR,0.00,8098.36
15,2,40,2020-01-04,19000,OHMT1000,10,ST,584.82,EUR,0.00,274.41
16,2,50,2020-01-04,19000,HVBD1000,5,ST,1754.47,EUR,0.00,1152.52
17,2,60,2020-01-04,19000,DXRD1000,9,ST,17895.58,EUR,0.00,10412.18
18,2,70,2020-01-04,19000,ORHT1000,9,ST,16842.90,EUR,0.00,9483.58
19,3,10,2020-01-10,14000,ELBK1000,3,ST,14035.75,EUR,421.07,9220.14
20,3,20,2020-01-10,14000,ELBK1000,3,ST,14035.75,EUR,421.07,9220.14
21,3,30,2020-01-10,14000,PUMP1000,10,ST,327.50,EUR,9.82,153.67
22,3,40,2020-01-10,14000,BOTL1000,6,ST,140.36,EUR,4.21,65.86
23,3,50,2020-01-10,14000,PRRD1000,6,ST,28071.49,EUR,842.14,16332.82
24,4,10,2020-01-12,15000,PRTR2000,8,ST,29942.93,EUR,1497.15,18264.66
25,4,20,2020-01-12,15000,OHMT1000,7,ST,409.38,EUR,20.47,192.09
26,4,30,2020-01-12,15000,RKIT1000,2,ST,74.86,EUR,3.74,35.12
27,4,40,2020-01-12,15000,PRRD1000,7,ST,32750.07,EUR,1637.50,19054.96
5,1,10,2020-01-25,15000,PUMP1000,9,ST,294.75,EUR,14.74,138.30
6,1,20,2020-01-25,15000,PUMP1000,6,ST,196.50,EUR,9.83,92.20
7,1,30,2020-01-25,15000,PUMP1000,6,ST,196.50,EUR,9.83,92.20
8,1,40,2020-01-25,15000,RKIT1000,3,ST,112.29,EUR,5.61,52.69
9,1,50,2020-01-25,15000,ORHT1000,4,ST,7485.73,EUR,374.29,4214.92
10,1,60,2020-01-25,15000,SHRT1000,2,ST,70.18,EUR,3.51,32.93
11,1,70,2020-01-25,15000,PRTR2000,8,ST,29942.93,EUR,1497.15,18264.66

In [127]:
first_number = 120001
# durch ignore_index = True wird das Ergebnis neu durchnummeriert, iloc macht alle Zeilen und die erste Spalte
df_numbers = df_sales.drop_duplicates(subset='OrderNumber',ignore_index=True).iloc[:,[0]]
# eine neue Spalte macht man am besten mit Assign
df_numbers = df_numbers.assign(NewOrderNumber=df_numbers.index+first_number)
df_numbers

   OrderNumber  NewOrderNumber
0            0          120001
1            2          120002
2            3          120003
3            4          120004
4            1          120005

In [128]:
# Versuch in weniger Schritten ging schief, warum auch immer
df_sales = df_sales.merge(df_numbers,on='OrderNumber')
df_sales['OrderNumber']=df_sales['NewOrderNumber']
df_sales = df_sales.drop(columns=['NewOrderNumber'])
df_sales

,OrderNumber,OrderItem,SalesDate,Customer,Product,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,CostsUSD
0,120001,10,2020-01-03,22000,DXRD1000,8,ST,15907.18,EUR,477.22,9255.27
1,120001,20,2020-01-03,22000,CAGE1000,10,ST,210.54,EUR,6.32,98.79
2,120001,30,2020-01-03,22000,DXTR2000,3,ST,10526.81,EUR,315.80,6421.17
3,120001,40,2020-01-03,22000,FAID1000,2,ST,93.57,EUR,2.81,43.91
4,120001,50,2020-01-03,22000,DXRD1000,2,ST,3976.79,EUR,119.30,2313.82
5,120002,10,2020-01-04,19000,ORHT2000,1,ST,1988.40,EUR,0.00,1119.59
6,120002,20,2020-01-04,19000,PRRD1000,2,ST,9357.16,EUR,0.00,5444.27
7,120002,30,2020-01-04,19000,DXRD1000,7,ST,13918.78,EUR,0.00,8098.36
8,120002,40,2020-01-04,19000,OHMT1000,10,ST,584.82,EUR,0.00,274.41
9,120002,50,2020-01-04,19000,HVBD1000,5,ST,1754.47,EUR,0.00,1152.52
10,120002,60,2020-01-04,19000,DXRD1000,9,ST,17895.58,EUR,0.00,10412.18
11,120002,70,2020-01-04,19000,ORHT1000,9,ST,16842.90,EUR,0.00,9483.58
12,120003,10,2020-01-10,14000,ELBK1000,3,ST,14035.75,EUR,421.07,9220.14
13,120003,20,2020-01-10,14000,ELBK1000,3,ST,14035.75,EUR,421.07,9220.14
14,120003,30,2020-01-10,14000,PUMP1000,10,ST,327.50,EUR,9.82,153.67
15,120003,40,2020-01-10,14000,BOTL1000,6,ST,140.36,EUR,4.21,65.86
16,120003,50,2020-01-10,14000,PRRD1000,6,ST,28071.49,EUR,842.14,16332.82
17,120004,10,2020-01-12,15000,PRTR2000,8,ST,29942.93,EUR,1497.15,18264.66
18,120004,20,2020-01-12,15000,OHMT1000,7,ST,409.38,EUR,20.47,192.09
19,120004,30,2020-01-12,15000,RKIT1000,2,ST,74.86,EUR,3.74,35.12
20,120004,40,2020-01-12,15000,PRRD1000,7,ST,32750.07,EUR,1637.50,19054.96
21,120005,10,2020-01-25,15000,PUMP1000,9,ST,294.75,EUR,14.74,138.30
22,120005,20,2020-01-25,15000,PUMP1000,6,ST,196.50,EUR,9.83,92.20
23,120005,30,2020-01-25,15000,PUMP1000,6,ST,196.50,EUR,9.83,92.20
24,120005,40,2020-01-25,15000,RKIT1000,3,ST,112.29,EUR,5.61,52.69
25,120005,50,2020-01-25,15000,ORHT1000,4,ST,7485.73,EUR,374.29,4214.92
26,120005,60,2020-01-25,15000,SHRT1000,2,ST,70.18,EUR,3.51,32.93
27,120005,70,2020-01-25,15000,PRTR2000,8,ST,29942.93,EUR,1497.15,18264.66

In [129]:
# deutsches Datum
df_sales['SalesDate'] = df_sales['SalesDate'].dt.strftime("%d.%m.%Y")

In [130]:
df_sales.to_csv("https://raw.githubusercontent.com/kfreyburger/sap/main/dataset/OutputTrial01.csv", sep = ";", decimal=',', header = True, index = False)